
/* style for the pages*/


* {
   box-sizing: border-box;
}
body {font-family: Arial,Helvetica,
sans-serif;
}
#container {
 margin: 0 auto;
}
.topnav{ 
overflow: hidden; background-color: black; 
position: relative;
}
 
 .topnav a {
  display: block;
  color:  white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav #mytopnav { 
  display: none;
 }

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
               
}

.row::after {
  content: "";
   clear: both;
   display: table;
}

p,ul,ol,li {
font-size: 15px;
}

.icona {
  background: black;
  color: white;              
}

#footer {
background-color: #787878;
padding: 15px 15px;
color: white;
}


[class*= 'col-' ] { width: 100%; padding: 15px;}


input[type="submit"]{
background: #4dd5ff;
color:  white;
text-align:  centre;
margin-top:  30px;
margin-bottom:20px;  
}


@media screen and (min-width:768px){

  [class*= 'col-' ]{ display: 100%;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.topnav #mytopnav { 
  display: block;
 }

.topnav a {
           display: block;
           float: left;
}
.topnav a.icon {
               display: none;
}
}
